<!-- <p>{{myGender | gender}}</p>
<app-hero-list></app-hero-list>
<app-monster-list></app-monster-list>
<app-book-list></app-book-list>-->
<!-- <ul> -->
    <!-- <li>
        <a routerLink="" href="javascript:;">Homepage</a>
    </li> -->
    <!-- <li>
        <a routerLink= "/books" href="">Books</a>
    </li> -->
    <!-- <li>
        <a routerLink= "/monsters" href="">Monster</a>
    </li> -->
    <!-- <li>
        <a routerLink= "/authors" href="">Author</a>
    </li>
    <li>
        <a href="/monsters">Monster</a>
    </li> -->
<!-- </ul> -->
<router-outlet></router-outlet> 
